<header>
  <img
    src="https://avatars.githubusercontent.com/u/33902609?v=4"
    alt="Gustavo de Paula - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Gustavo de Paula</h1>
</header>

<aside>
  <div class="container">
    <p>Tech Lead | Software Engineer</p>
    <p>São Paulo, Brasil</p>
    <p>
      Como Tech Lead e desenvolvedor frontend com mais de 15 anos de
      experiência, minha especialidade reside na criação de interfaces atrativas
      e altamente funcionais, utilizando tecnologias de ponta como HTML, CSS,
      JavaScript, AngularJS, Angular e React. Ao longo da minha carreira,
      enfrentei e triunfei em projetos desafiadores, sempre buscando soluções
      inovadoras para aprimorar a experiência dos usuários. Além disso,
      desempenho um papel fundamental como mentor, compartilhando conhecimentos
      práticos do cotidiano e fornecendo suporte no desenvolvimento profissional
      de estagiários.
    </p>
    <p>
      Meu histórico inclui contribuições significativas para empresas de renome,
      como Boticário, Walmart, Grupo Pão de Açúcar e Gol Linhas Áeras
      Inteligentes. Nestas colaborações, além de criar interfaces de alto
      impacto, assumi responsabilidades como liderança técnica, orientando
      equipes na busca pela excelência e no alcance de metas ambiciosas. Minha
      paixão pela tecnologia e meu compromisso com a entrega de resultados de
      qualidade continuam a impulsionar meu trabalho diário.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Currículo
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/gustavodepaulasantos/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Gustavo,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:gdepaula@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>gdepaula&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
