<ng-content select="h1"></ng-content>
<div *ngIf="nome != 'Gustavo'">
  <p [ngClass]="{ active: valor, disable: !valor }">
    diretivas-atributos works!
  </p>
  <p [ngStyle]="{ height: heightPx, background: backgroundColor }">
    diretivas-atributos works!
  </p>
</div>
<hr />
<input [(ngModel)]="nome" /> {{ nome }}
<button (click)="salvar()">Salvar</button>
<ul>
  <li *ngFor="let item of list">{{ item.nome }}</li>
</ul>

<hr />
<ng-content select="hr"></ng-content>
<!-- 
  <ng-template ngFor let-item [ngForOf]="list">
  <p>{{ item.nome }}</p>
</ng-template>
<input [(ngModel)]="nome" /> {{ nome }}
<button (click)="salvar()">Salvar</button> -->
