<form #form="ngForm">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" ngModel />
  <br /><br />
  <label for="masculino">Masculino:</label>
  <input type="radio" name="sexo" value="masculino" ngModel />
  <br /><br />
  <label for="feminino">Feminino:</label>
  <input type="radio" name="sexo" value="feminino" ngModel />
  <br /><br />
  <label for="outros">Outros:</label>
  <input type="radio" name="sexo" value="outros" ngModel />
  <br /><br />
  <label for="angular">Angular:</label>
  <input type="checkbox" name="angular" ngModel />
  <br /><br />
  <label for="vue">Vue:</label>
  <input type="checkbox" name="vue" ngModel />
  <br /><br />
  <label for="react">React:</label>
  <input type="checkbox" name="react" ngModel />
  <br /><br />
</form>

{{ form.value | json }}
