<form #form="ngForm">
  <label>
    Nome:
    <input
      type="text"
      name="nome"
      #nome="ngModel"
      [ngModel]="nome.value"
      required
    />
    <span *ngIf="!nome.valid && nome.dirty && nome.touched"> Invalid </span>
  </label>

  <br />
  <br />

  {{ nome.valid }}
  {{ nome.dirty }}
  {{ nome.touched }}

  <!-- {{ form.valid }} -->
  <!--
    valid
    dirty
    touched
  -->
  <br /><br />
  <label for="masculino">Masculino:</label>
  <input type="radio" name="sexo" value="masculino" ngModel />
  <br /><br />
  <label for="feminino">Feminino:</label>
  <input type="radio" name="sexo" value="feminino" ngModel />
  <br /><br />
  <label for="outros">Outros:</label>
  <input type="radio" name="sexo" value="outros" ngModel />
  <br /><br />
  <label for="angular">Angular:</label>
  <input type="checkbox" name="angular" ngModel />
  <br /><br />
  <label for="vue">Vue:</label>
  <input type="checkbox" name="vue" ngModel />
  <br /><br />
  <label for="react">React:</label>
  <input type="checkbox" name="react" ngModel />
  <br /><br />
  <select name="comidas" ngModel>
    <option value="">Selecione um alimento</option>
    <option *ngFor="let item of listComida" [ngValue]="item">
      {{ item.comida }}
    </option>
  </select>

  <br /><br />
</form>

{{ form.value | json }}
